# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.hcl

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda builds
**/builds/*
*.whl
**/.aws-sam/*
*.tar.gz

# Other
crash.log
.idea

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Backups
*.bak
*.orig

# VSCode
.vscode/

# ignore Local Output
/terraform/stacks/audit-insights/LocalOutput
.vs

